/* COLORS */
/* primary colors */
$primaryColor: #215e75;

/* header colors */
$headerColor: #212e59;

/* menu colors */
$menuColor: #397084;

/* container color */
$cardPrimaryColor: #ebecf0;

/* FONT */

$fontPrimary: #ffffff;
$fontFamilyMenu: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;

/* buttons */
$btnPrimaryColor: #646487;
$btnPrimaryBorder: 1px solid $btnPrimaryColor;
$btnPrimaryBorderRadius: 5px;
$cardPrimaryBorderRadius: 3px;

/* hover */

$hoverColor: rgba(9, 30, 66, 0.08);
